body {
    background-color: #333;
}
.hero {
    height: 350px;
    background-color: rgb(105, 170, 92);
    /* border: 1px solid black; */
    -webkit-box-shadow: 5px 7px 9px -4px black;
    -moz-box-shadow: 5px 7px 9px -4px black;
    box-shadow: 5px 7px 9px -4px black;
}

.lblColor {
    color: white;
}

.spacer {
    height: 70px;
}

#hero1 {
    background-color: rgb(158, 30, 34);
}